body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    width: 100%;
  }
  
  #result {
    font-size: 24px;
    width: 100%;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.operator {
    background-color: #ff9f43;
  }
  
  button.number {
    background-color: #74b9ff;
  }
  
  button:active {
    transform: scale(0.95);
  }

  .buttons :hover{
    background-color: darkviolet;
  }